/* src/QuoteBox.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    margin: 0;
    background-color: rgb(15, 172, 174);
}

#quote-box {
   background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 500px;
    margin: 20px;
}

#text {
    font-size: 24px;
    margin-bottom: 10px;
}

#author {
    font-size: 20px;
    margin-bottom: 20px;
    color: #596204;
}

#new-quote {
    padding: 10px 20px;
    font-size: 16px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* #new-quote:hover {
    background-color: #0056b3;
} */
